<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{{ $t("labels.dashboard") }}</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/">{{ $t("labels.home") }}</router-link>
                    </li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- 1초 단위 시세 변화 -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{upbitResponsePerSec.trade_price}}<sup style="font-size: 20px">원</sup></h3>
                        <p>BTC(KRW) per a second</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <template v-if="upbitResponsePerSec.change === 'RISE'">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{upbitResponsePerSec.change_price}}<sup style="font-size: 20px">원</sup>
                                {{upbitResponsePerSec.change_rate.toFixed(2)}}<sup style="font-size: 20px">%</sup></h3>
                            <p>BTC(KRW) Change per a second</p>
                            <div class="icon">
                                <i class="ion ion-arrow-graph-up-right"></i>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else-if="upbitResponsePerSec.change === 'EVEN'">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{upbitResponsePerSec.change_price}}<sup style="font-size: 20px">원</sup>
                                {{upbitResponsePerSec.change_rate.toFixed(2)}}<sup style="font-size: 20px">%</sup></h3>
                            <p>BTC(KRW) Change per a second</p>
                            <div class="icon">
                                <i class="ion-minus"></i>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>{{upbitResponsePerSec.change_price}}<sup style="font-size: 20px">원</sup>
                                {{upbitResponsePerSec.change_rate.toFixed(2)}}<sup style="font-size: 20px">%</sup></h3>
                            <p>BTC(KRW) Change per a second</p>
                            <div class="icon">
                                <i class="ion-arrow-graph-down-right"></i>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

        <!-- 1분 단위 시세 변화 -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{upbitResponsePerMin.trade_price}}<sup style="font-size: 20px">원</sup></h3>
                        <p>BTC(KRW) per a minute</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <template v-if="upbitResponsePerMin.change === 'RISE'">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{upbitResponsePerMin.change_price}}<sup style="font-size: 20px">원</sup>
                                {{upbitResponsePerMin.change_rate.toFixed(2)}}<sup style="font-size: 20px">%</sup></h3>
                            <p>BTC(KRW) Change per a minute</p>
                            <div class="icon">
                                <i class="ion ion-arrow-graph-up-right"></i>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else-if="upbitResponsePerMin.change === 'EVEN'">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{upbitResponsePerMin.change_price}}<sup style="font-size: 20px">원</sup>
                                {{upbitResponsePerMin.change_rate.toFixed(2)}}<sup style="font-size: 20px">%</sup></h3>
                            <p>BTC(KRW) Change per a minute</p>
                            <div class="icon">
                                <i class="ion-minus"></i>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>{{upbitResponsePerMin.change_price}}<sup style="font-size: 20px">원</sup>
                                {{upbitResponsePerMin.change_rate.toFixed(2)}}<sup style="font-size: 20px">%</sup></h3>
                            <p>BTC(KRW) Change per a minute</p>
                            <div class="icon">
                                <i class="ion-arrow-graph-down-right"></i>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->